*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --text-color: #ffffff;
    --main-color: #13bbff;
    --bg-color: #1b1f24;

    --big-font: 4.5rem;
    --h4-font: 1.6rem;
    --p-font: 1.1rem;
}

body{
    background-image: url(javier-trueba-iQPr1XkF5F0-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    padding: 40px 16%;
    background: transparent;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transition: all .55s ease;
}
.logo{
    font-size: 36px;
    /* color:  #ffffff; */
    color: black;
    font-weight: 600;
    
}

#main{
    color: black;
}

.top-btnn{
    display: flex;
    align-items: end;
}

.logo{
    font-size: 36px;
    color:  #ffffff;
    font-weight: 600;
}

span{
    color: var(--main-color);
}


.h-btn{
    display: inline-block;
   padding: 11px 26px;
    background: transparent;
    color: white;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .55s ease;
    margin: 1vw;

    }

.h-btn:hover{
        background: var(--main-color);
        color: var(--bg-color);
        box-shadow: 0 0 20px var(--main-color);
        transform: scale(1.1);   
 } 

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 100px; */
    gap: 100px;
    height: 100vh;
}

.box {
    width: 250px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    /* background-color: var(--main-color);
 */
 background-color: white;
    margin: 0 10px; /* Adjust the spacing between divs as needed */
    transition: all 0.3s ease;
    padding: 30px;
    border-radius: 15px;
}

.box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 2);
    transform: scale(1.05);
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    line-height: 1.1;
    font-family: inherit;
}


.container a{
    font-weight: bold;
    color: #ffffff;
    background-color: #ef0000;
    padding: 9px 15px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 13px;
    line-height: 13px;
   

}
.btn11 {
    margin-top: 50px;

}

p{
    /* margin: 0 0 10px; */
    margin-top: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: black;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


img {
    width: auto;
    height: 60px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}